.app-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.input-div {
  width: 100%;
  margin-bottom: 30px;
}
.blocker-text-input {
  width: 300px;
}
.number-input {
  width: 40px;
}
.app-header {
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}
.blocker-btn {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.blocker-status {
  width: 100%;
  font-size: 20px;
  margin: 15px;
}
.app-table {
  float: left;
  width: 75%;
}
.app-menu {
  float: right;
  width: 25%;
}
.app-row:hover {
  cursor: pointer;
}
